@model Appointment

<form asp-action="Book">
    <label asp-for="AppointmentDate">Choose a date:</label>
    <input asp-for="AppointmentDate" type="datetime-local" />
    
    <label asp-for="ServiceName">Service:</label>
    <select asp-for="ServiceName">
        <option value="Facial">Facial</option>
        <option value="Whitening">Whitening</option>
    </select>

    <button type="submit">Book</button>
</form>
